# ‰∏ñÁïåÂõΩÂÆ∂ - ÂàÜÊûê üßÆ

ËÆ©Êàë‰ª¨Êù•Êé¢Á¥¢Kaggle‰∏äÁöÑÊï∞ÊçÆ - [ÊúâÂÖ≥‰∏ñÁïåÂõΩÂÆ∂](https://www.kaggle.com/fernandol/countries-of-the-world) ÂèäÂÖ∂ÂêÑÁßçÁªèÊµé„ÄÅÁ§æ‰ºö„ÄÅÂú∞ÁêÜÊåáÊ†á„ÄÇ

Ê≠§ÁªÉ‰π†‰∏≠Ê∂µÁõñÁöÑÊ¶ÇÂøµ‰∏é‰Ω†ÂÆåÊàêÁöÑ AirBnB ÊåëÊàòÈùûÂ∏∏Áõ∏‰ºº - Â¶ÇÊûúÊúâÁñëËôëÂèØ‰ª•Êù•ÂõûÊü•ÁúãËß£Á≠îÊñπÊ°àÔºÅ üí°

#### ÂØºÂÖ•ÊâÄÈúÄÁöÑÂ∑•ÂÖ∑Â∫ì

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print("You are good to go!")

You are good to go!

#### ËØªÂèñ‰ªéKaggle‰∏ãËΩΩÁöÑcsvÊñá‰ª∂ÔºåÂπ∂ÂÄüÂä©PandasÂàõÂª∫‰∏Ä‰∏™Êï∞ÊçÆÂ∏ßDataFrame

In [2]:
file = "countries of the world.csv"
countries_data = pd.read_csv(file, decimal=",")
countries_data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

### Áé∞Âú®Êù•Âø´ÈÄüÊü•ÁúãÂàõÂª∫ÁöÑ Êï∞ÊçÆÂ∏ß`DataFrame` üó∫

ËÆ©Êàë‰ª¨Ê£ÄÊü•‰∏Ä‰∏ãÊúâÂ§öÂ∞ëË°åÂíåÂàó„ÄÇ ÁªìÊûúÂ∞ÜÊâìÂç∞‰∏∫ÔºàË°åÔºåÂàóÔºâ Rows, Columns

In [ ]:
# your code here

‰Ω†ËÉΩÊü•ÁúãÊâÄÊúâÂàócolumnsÁöÑÂêçÁß∞‰ª•ÂèäÊï∞ÊçÆÂ∏ß‰∏≠ÊâÄÊúâÊï∞ÊçÆÁöÑÁ±ªÂûãÂêóÔºüü•á

In [ ]:
# your code here

ËØ∑ËÆ∞‰ΩèÔºå‰Ω†ËøòÂèØ‰ª•ËøêË°å `.head` Âíå `.tail` ÊñπÊ≥ïÊù•Ê£ÄÊü• DataFrame ÁöÑ‰ΩçÂàóÂâçÊéíÁöÑË°åÂíå‰ΩçÂàóÊú´Á´ØÁöÑË°å„ÄÇ

‰Ω†Â∞ÜÂ¶Ç‰ΩïÊ£ÄÊü•Á¨¨1Ë°åÂíåÊúÄÂêé 10 Ë°åÔºü

In [ ]:
# your code here for the first 10 rows

In [ ]:
# your code here for the last 10 rows

### ËøõË°åÊï∞ÊçÆÊ∏ÖÁêÜüßπ

ËÆ©Êàë‰ª¨Ê£ÄÊü•‰∏Ä‰∏ãÊï∞ÊçÆ‰∏≠ÊòØÂê¶ÊúâÂæàÂ§ö `null` ÂÄº

In [ ]:
# your code here

‰Ω†‰ºöÊ≥®ÊÑèÂà∞Êï∞ÊçÆÈõÜÁõ∏ÂØπÂπ≤ÂáÄÔºåÊ≤°Êúâ‰ªª‰Ωï‰∏ÄÂàóÊúâÂ§ßÈáèÁöÑÁº∫Â§±ÂÄº`null`„ÄÇ

**‰ΩÜÊòØ**Â¶ÇÊûúÊàë‰ª¨Ê£ÄÊü•‰∏§‰∏™ `object` ÂàóÁöÑÂéªÈáçÂÄº - `Country` Âíå `Region` - Êàë‰ª¨‰ºöÂèëÁé∞‰∏Ä‰∫õÊ∑∑‰π±„ÄÇ ËÆ©Êàë‰ª¨Ê£ÄÊü• `Region` ÂàóÁöÑ **uniqueÂéªÈáç** ÂÄºÔºö

In [ ]:
# your code here

Ê≥®ÊÑèÂå∫ÂüüÂêçÁß∞Âë®Âõ¥ÁöÑÊâÄÊúâ **whitespaceÁ©∫Ê†º** - ÂºïÂè∑ÂÜÖÁöÑÈ¢ùÂ§ñÁ©∫Ê†º„ÄÇ ËøôÈáåÊàë‰ª¨ÂèØ‰ª•‰ΩøÁî® `strip` ÁßªÈô§`Country` Âíå `Region` ‰∏≠ÁöÑÁ©∫ÁôΩÁ©∫Ê†ºÔºö

In [ ]:
countries_data['Country'] = countries_data['Country'].map(str.strip)
countries_data['Region'] = countries_data['Region'].map(str.strip)

‰Ω†‰∏ç‰ºöÁ´ãÂç≥ÁúãÂà∞‰∏äËø∞ÂçïÂÖÉÊ†ºÁöÑËæìÂá∫ÔºåÂõ†‰∏∫Êàë‰ª¨Ê≠£Âú®ÂØπÂΩìÂâçÊï∞ÊçÆÂ∏ß**inplace**Â∞±Âú∞ËøõË°åÊõ¥Êîπ‰øùÂ≠ò - ÊÑè‰∏∫Êàë‰ª¨Ê≠£Âú®Áî®Êñ∞ÁöÑ„ÄÅÂπ≤ÂáÄÁöÑÂàóË¶ÜÁõñÂéüÂßãÊï∞ÊçÆÂ∏ßDataFrame„ÄÇ

Áé∞Âú®Êàë‰ª¨ÂèØ‰ª•Êõ¥ÂÆπÊòìÂú∞ÂØªÊâæ‰∏Ä‰∏™ÁâπÂÆöÁöÑÂõΩÂÆ∂„ÄÇ ‰Ω†ËøòÂèØ‰ª•ËØïËØïÂà´ÁöÑÂõΩÂÆ∂ÔºÅ ;)

In [ ]:
countries_data[countries_data['Country'] == 'China']

# ËÆ©Êàë‰ª¨Êù•Áî®PandasÂ§ÑÁêÜ‰∏Ä‰∫õÊï∞ÊçÆÂàÜÊûê! üöÄ

Êàë‰ª¨Â∞ÜÊèêÂá∫‰∏Ä‰∫õ‰Ω†Â∫îËØ•ËÉΩÂ§üÁî® Python Âíå Pandas ÂõûÁ≠îÁöÑÈóÆÈ¢ò„ÄÇ Ê≠§ÂèØÈÄâÊåëÊàòÊ≤°ÊúâÁ≠îÊ°àÔºåÂõ†Ê≠§Â¶ÇÊûú‰Ω†ÈúÄË¶ÅÊèêÁ§∫ÔºåËÆ∞ÂæóÊü•ÁúãËßÜÈ¢ëÊàñ AirBnB ÊåëÊàòÔºÅ üí°

[Bonus] ‰Ω†ËøòËÉΩÂ∞ùËØï‰ΩøÁî®`.plot()` ÊñπÊ≥ïÊàñ`sns` Python Â∑•ÂÖ∑ÂåÖ üèÜ Â∞ÜÊúÄÁªàÁöÑÂàÜÊûêËΩ¨ÂèØËßÜÂåñ

#### 5 ‰∏™ÊúÄ‚ÄúÂÖ∑ÊúâÊúçÂä°ÊÑèËØÜ‚Äù `service`ÈÉ®Èó®ÂØºÂêëÁöÑÂõΩÂÆ∂ÊòØ‰ªÄ‰πàÔºü Êàë‰ª¨Âè™ÈúÄË¶ÅÈíàÂØπ‰∫∫Âè£Ë∂ÖËøá 5000 ‰∏áÁöÑÂõΩÂÆ∂/Âú∞Âå∫„ÄÇ

In [3]:
# your code here
# Hint: È¶ñÂÖàÔºå‰ΩøÁî®Â∏ÉÂ∞îÁ¥¢ÂºïÂàõÂª∫‰∏Ä‰∏™Êñ∞ÁöÑÂ§ßÂõΩÊï∞ÊçÆÊ°Ü

#### ËÆ©Êàë‰ª¨Êù•Êé¢ËÆ®‰∫∫Âè£ËÄÅÈæÑÂåñ‚Äî‚ÄîÂá∫ÁîüÁéáÈô§‰ª•Ê≠ª‰∫°Áéá

‰∏∫Ê≠§Ôºå‰Ω†ÈúÄË¶ÅÂàõÂª∫‰∏Ä‰∏™Êñ∞ÁöÑÂàóÔºåÂ¶Ç‰∏ãÊâÄÁ§∫Ôºö

```Python
country_data['new_column_name'] = ‰Ω†ÁöÑËÆ°ÁÆó
```

In [ ]:
# your code here

Áé∞Âú®ÔºåËÆ©Êàë‰ª¨ÂØπ‰∫∫Âè£ÊúÄÂπ¥ËΩªÁöÑÂõΩÂÆ∂ËøõË°åÊéíÂ∫è„ÄÇ Êàë‰ª¨ÊÉ≥ÁúãÁúãËøô‰∫õÊòØÂ¶Ç‰ΩïÊàê‰∏∫Êõ¥‰∫íËÅîÁΩëÁöÑ‰∏Ä‰ª£‚Äî‚ÄîÊâÄ‰ª•Êàë‰ª¨Âè™Êü•ÁúãÂõΩÂÆ∂`Country`„ÄÅ‰∫∫Âè£`Population`„ÄÅ‰ª•ÂèäËÆ°ÁÆóÁöÑËÄÅÈæÑÂåñÂõ†Á¥†ÂíåÊØèÂçÉ‰∫∫ÁöÑÊâãÊú∫Êï∞Èáè

In [ ]:
# your code here

#### ËÆ©Êàë‰ª¨Áî® `sns.scatterplot()` ÂàõÂª∫‰∏Ä‰∏™Êï£ÁÇπÂõæÔºåÁúãÁúãÂÜú‰∏öÈÉ®Èó®`Agriculture` ÂíåËÄïÂú∞ (`Area (sq. mi.)`‰∏é`Arable %` ÔºâÊòØÂ¶Ç‰ΩïÁõ∏ÂÖ≥ÁöÑ„ÄÇ 
[Bonues] Â¶ÇÊûú‰Ω†ÂèØ‰ª•Â∞ùËØïÊåâÂú∞Âå∫‰∏∫ÁÇπÁùÄËâ≤ÔºÅ ü•á

In [ ]:
plt.figure(figsize=(10,8)) # Âä†Ëøô‰∏™‰ª•‰ΩøÁªòÂõæÊõ¥Â§ß
# your code here

#### ‰Ω†Ê≠£Âú®Êé®Âá∫‰∏Ä‰∏™‰ªòË¥πÂ∫îÁî®Á®ãÂ∫è‚Äî‚ÄîËÆ©Êàë‰ª¨Êù•ÁúãÁúã‰∫∫Âùá GDP ÊúÄÈ´òÂíåÊâãÊú∫‰ΩøÁî®ÁéáÊúÄÈ´òÁöÑÂõΩÂÆ∂/Âú∞Âå∫„ÄÇ Êàë‰ª¨Áé∞Âú®‰πüÂè™ÈúÄË¶ÅÂÖ≥Ê≥®‰∫öÊ¥≤ÂõΩÂÆ∂„ÄÇ

In [ ]:
# your code here

###  ÊÅ≠Âñú‰Ω†Êù•Âà∞Ëøô‰∏ÄÊ≠•ÔºÅ üöÄ ‰Ω†ËøòÊúâ‰ªÄ‰πàÊÑüÂÖ¥Ë∂£ÁöÑÈóÆÈ¢òÔºü Áé∞Âú®‰Ω†ÂèØ‰ª•‰ΩøÁî® Python Êù•Ëß£Á≠î‰∫Üü§ì

In [ ]:
# your code here

Âª∂‰º∏ÈòÖËØª:

* Matplotlib ÊñáÊ°£ [plot attributes](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html?highlight=plot#matplotlib.pyplot.plot)
* Pandas ÊñáÊ°£ [DataFrame.plot() function we are using](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.plot.html)
* üëâ  [ÂèØËßÜÂåñÁöÑ‰ªãÁªç](http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot)